<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171791209986-uc428rgpn9eb9ftfsnvpls38o2nf42vd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171791209986-uc428rgpn9eb9ftfsnvpls38o2nf42vd</string>
	<key>API_KEY</key>
	<string>AIzaSyABusS25tVyaG733Gc24kyn1Zlwby8XKZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>171791209986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.giverr</string>
	<key>PROJECT_ID</key>
	<string>giverr-301cc</string>
	<key>STORAGE_BUCKET</key>
	<string>giverr-301cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171791209986:ios:02d727be19081bd36c391b</string>
</dict>
</plist>